<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>embedded</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <AllowedReferenceRelatedFileExtensions></AllowedReferenceRelatedFileExtensions>
  </PropertyGroup>

  <Target Name="RemovePublishSymbols" AfterTargets="Publish">
    <ItemGroup>
      <PublishSymbols Include="$(PublishDir)**\*.pdb" />
    </ItemGroup>
    <Delete Files="@(PublishSymbols)" />
  </Target>
</Project>
